@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Outfit:wght@200;400&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;

  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  background: rgba(30, 32, 39, 255);
  background-image: url('./Headerbg.png');
  /* background-size: 100% 350px; 
  background-position: center top; 
  background-repeat: no-repeat; */
  background-repeat: no-repeat;
  background-size: 100% 50%;
  overflow-x: hidden;
}

.main-container {
  position: relative;
  min-height: 100vh;
}
.card {
  /*flex-basis: calc(50% - 20px);*/
  margin: 20px;
  background-color: #e79595;

  width: 450px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-card {
  width: 450px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('./cloudbg.png');
  background-size: cover;
  background-position: center center;
  margin: 0;
  color: #ffffff;
  background-color: #af27c4;
}

.cityData {
  height: 120px;
  /* border: #100f0f solid; */
  text-align: center;
  margin-top: 10px;
}

.tempData {
  height: 120px;
  /* border: #100f0f solid; */
  width: 30%;
  margin-top: 10px;
  text-align: left;
  position: relative;
}

.hd {
  margin: 0;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.lower-card {
  width: 100%;
  height: 100px;
  background: #383b47;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 0;
  color: #ffffff;
  padding-top: 10px;
}

.main-2-squres {
  display: grid;
  grid-template: auto auto / repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;

  margin-left: auto;
  margin-right: auto;
  justify-content: center; /* center the grid horizontally */
  align-items: center;
}

.main-8-squres {
  /* height: 100%; */
  width: 100%;

  padding-bottom: 80px;
}

.main-header {
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.header-icon {
  margin-right: 10px;
  height: 40px;
  width: 44px;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.icon-desc {
  margin-right: 8px;
  height: 15px;
  width: 20px;
  /* border: #ee0e28 solid; */
}

p {
  margin: 0;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 18.82pt;
}

.temph1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 18.82pt;
}

h6 {
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 38.82pt;
  margin: 0;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 18.82pt;
  margin-bottom: 5px;
  margin-top: 10px;
}

.p-time {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 8.82pt;
}

.p-desc {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 9.82pt;
}

.p-temp {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 9.02pt;
  margin-bottom: 4px;
}

.phvData {
  text-align: left;
  padding: 10px;
  margin-left: 30px;
  height: 70px;
  padding-bottom: 0;
  padding-right: 15px;
}

.windData {
  border-left: 1px solid #515566;
  border-right: 1px solid #515566;
  padding: 10px;
  width: 40%;
  height: 70px;
  padding-bottom: 0;
  text-align: center;
}

.sunData {
  padding: 10px;
  height: 70px;
  text-align: left;
  padding-bottom: 0;
}

.p-lw-details {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 8.02pt;
  margin-bottom: 10px;
  margin-top: 2px;
}

.icon-rocket-desc {
  margin-right: 8px;
  height: 15px;
  width: 20px;
  margin-bottom: 8px;
}

footer {
  background: #383b47;
  color: #88898d;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 9.02pt;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;

  /* height: 2.5rem; */
}

footer p {
  margin-top: 20px;
}

.close-buttonc {
  padding: 10px;
  display: inline;
  margin-left: 100px;
  display: flex;
  text-align: right;
  justify-content: right;
}

button {
  margin-left: 415px;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

@media screen and (max-width: 820px) {
  .card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .header-card{
    width: 100%;
  }

  .lower-card{
    width: 100%;
  }

  .phvData{
    margin-left: 0;
  }

  .main-8-squres{
    flex-basis: calc(40% - 20px);
   
  }


    .main-2-squres {
      flex-basis: calc(40% - 20px);
      grid-template: auto auto / repeat(1, 1fr);
    }

  .main-container{
    margin: 20px;
  }
  
}

.color-1 {
  background-color: #388ee7;
}

.color-2 {
  background-color: #6249cc;
}

.color-3 {
  background-color: #40b681;
}

.color-4 {
  background-color: #de944e;
}

.color-5 {
  background-color: #9c3a3a;
}



/* /**details.css */
.cardc {
  /*flex-basis: calc(50% - 20px);*/
  margin: 20px;
  background-color: #e79595;

  width: 850px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.header-cardc {
  width: 850px;
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  background-position: center center;
  margin: 0;
  color: #ffffff;
  background-color: #388ee7;
  position: relative;
}

.lower-cardc {
  width: 100%;
  height: 100px;
  background: #383b47;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  color: #ffffff;
  padding-top: 10px;
}

.hd {
  margin: 0;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  color: white;
  background-color: transparent;
  margin-left: 20px;
  margin-top: 20px;
}

.cityDatac {
  height: 120px;
  /* border: #100f0f solid; */
  text-align: center;
  margin-top: 30px;
}

.desc-tempc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.p-tempc {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 9.02pt;
  margin-bottom: 4px;
  align-items: left;
}

.tempDatac {
  height: 120px;
  /* border: #100f0f solid; */
  width: 15%;
  margin-top: 10px;
  text-align: left;
  padding-left: 40px;
  padding-right: 0;
  margin-left: 15px;
  border-left: 1px solid white;
}
.p-tempc{
  display: block;
}
.phvDatac {
  text-align: left;
  padding: 10px;
  margin-left: 120px;
  height: 70px;
  padding-bottom: 0;
  padding-right: 15px;
}

.windDatac {
  border-left: 1px solid #515566;
  border-right: 1px solid #515566;
  padding: 10px;
  width: 40%;
  height: 70px;
  padding-bottom: 0;
  text-align: center;
}

.sunDatac {
  padding: 10px;
  height: 70px;
  text-align: left;
  padding-bottom: 0;
}

.p-lw-detailsc {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 8.02pt;
  margin-bottom: 10px;
  margin-top: 2px;
}

.icon-rocket-descc {
  margin-right: 8px;
  height: 15px;
  width: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 820px) {
  .cardc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .header-cardc{
    width: 100%;
  }

  .lower-cardc{
    width: 100%;
  }

  .phvDatac{
    margin-left: 0;
  }

  .tempDatac h2{
    font-size: 16.82pt;
  }

  .h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 6.82pt;
    margin: 0;
  }

  .main-container{
    margin: 20px;
  }
  
}

.login{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 50px;
  text-align: center;
  width: 500px;
  height: 254px;
  border-radius: 15px;
  border: 5px solid #515566;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.loginBtn{
  color: black;
  background-color: #388ee7;
  display: block;
  width:100px;
  height: 40px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 550;
  cursor: pointer;
  transition-duration: 0.4s;
}

.loginBtn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 130px;
  height: 50px;
}

.user-icon{
  width:70px;
  height:70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logout{
  margin-top: 40px;
  width:90px;
  height: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
 
}
.logoutBtn{
  margin-top:0px;
  display: block;
  width:80px;
  height: 20px;
  border-radius: 5px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 550;
  cursor: pointer;
  transition-duration: 0.4s;

}



@media screen and (max-width: 820px) {
  .login{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 120px;
    height: 250px;
  }
}